:root {
    --main-text-color: #333333;
}


@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
    url('../fonts/roboto-v30-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/roboto-v30-latin-500.woff2') format('woff2'),
    url('../fonts/roboto-v30-latin-500.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/roboto-v30-latin-700.woff2') format('woff2'),
    url('../fonts/roboto-v30-latin-700.woff') format('woff');
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
    font-family: "Roboto";
    font-weight: 400;
    overflow-x: hidden;
}

.container {
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 20px;
}

.site-header {
    padding: 40px 0;
    background-image: url("../images/head_back.png");
}

.header-box {
    display: flex;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item {
    margin-right: 40px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--main-text-color);
}

.hero {
    background-image: url("../images/head_back.png");
}

.hero-box {
    padding-left: 150px;
}

.hero-full {
    position: relative;
}

.hero-left {
    width: 570px;
    padding-left: 112px;
}

.hero-heading {
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
}

.hero-text {
    margin: 0;
    margin-bottom: 34px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.hero-link {
    display: inline-block;
    padding: 16px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1px;
    color: #FFFFFF;
    background: #0A775F;
    border-radius: 100px;
    text-decoration: none;
}

.hero {
    margin-bottom: 20px;
    padding-top: 180px;
    padding-bottom: 183px;
    position: relative;
}

.hero-right {
    position: absolute;
    top: -55%;
    right: -226px;
    width: 710px;
    height: 696px;
    background-size: cover;
    background-image: url("../images/coffee_back.png");
}

.coffee-main {
    width: 710px;
    height: 696px;
}

.hero-right::before {
    position: absolute;
    
    width: 160px;
    height: 160px;
    top: -10%;
    left: -10%;
    z-index: 1;
    background-size: contain;
    content: "";
    background-image: url("../images/alfred.png");
}



.collection-box {
    margin: 0 20px;
    padding-top: 20px;
    background-image: url("../images/second_back.png");
    background-size: cover;
    background-repeat: no-repeat;
    
}

.collection-heading {
    margin-bottom: 80px;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
}


.collection-list {
    width: 1114px;
    margin: 0 auto;
    padding: 0;
    
    list-style: none;
}

.collection-item {
    position: relative;
    display: flex;
    align-items: center;
}

.collection-item:first-child::before {
    position: absolute;
    top: -33%;
    left: -41%;
    width: 402px;
    height: 300px;
    background-image: url("../images/first_tree.png");
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
}

.collection-item:nth-child(2)::after {
    position: absolute;
    top: 41%;
    right: -47%;
    width: 392px;
    height: 477px;
    background-image: url("../images/second_tree.png");
    background-size: cover;
    background-repeat: no-repeat;
    content: "";
}

.collection-item:last-child::before {
    position: absolute;
    top: -15%;
    left: -47%;
    width: 316px;
    height: 269px;
    background-image: url("../images/third_tree.png");
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
}

.collection-item:nth-child(even) {
    flex-direction: row-reverse;
}

.collection-item:nth-child(even) .item-right {
    margin-right: 117px;
    margin-left: 0;
}



.item-right {
    width: 390px;
    margin-left: 117px;
}

.item-title {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: var(--main-text-color);
}

.item-text {
    margin: 0;
    padding: 0;
    color: var(--main-text-color);
    font-size: 22px;
    line-height: 34px;
}

.choose {
    position: relative;
}

.choose-box {
    margin: 20px;
    padding-bottom: 500px;
    padding-top: 50px;
    background-image: url("../images/orange.png")
}

.choose-top {
    width: 581px;
    margin: 0 auto;
    margin-bottom: 80px;
    text-align: center;
}

.choose-heading {
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
}

.choose-text {
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.8;
}

.choose-list {
    position: absolute;
    top: 50%;
    display: flex;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.choose-item {
    width: 433px;
    margin-right: 20px;
}

.choose-item:nth-child(1) {
    position: relative;
}

.choose-item:nth-child(1):before {
    position: absolute;
    top: -7%;
    left: -15%;
    content: "";
    width: 140px;
    height: 144px;
    background-image: url("../images/decoration.svg");
    background-size: contain;
}

.choose-item:last-child {
    margin-right: 0;
}

.ch-item-title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #333333;
}

.ch-item-text {
    font-size: 18px;
    line-height: 28px;
    color: #333333
}

.work {
    margin-top: 300px;
}


.work-box {
    margin: 20px;
    padding: 50px 0;
    background-image: url("../images/green_back.png");
    background-size: cover;
}

.work-heading {
    padding: 20px;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
}

.work-list {
    display: flex;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 60px;
    padding-left: 0;
    list-style: none;
}

.work-item {
    width: 433px;
    background-color: #F8F8F2;
    margin-right: 20px;
}

.work-item:last-child {
    margin-right: 0;
}

.right-text {
    margin-top: 20px;
    padding-right: 20px;
    font-size: 64px;
    line-height: 75px;
    color: var(--main-text-color);
    opacity: 0.8;
    text-align: right;
    
}

.work-item-desc {
    width: 385px;
    padding: 20px;
}

.work-item-heading {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: var(--main-text-color);
}

.work-item-text {
    font-size: 18px;
    line-height: 28px;
    color: var(--main-text-color);
}

.work-plan-link {
    display: block;
    width: 193px;
    margin: 0 auto;
    padding: 16px 24px;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;
    background: #C99B67;
    border-radius: 100px;
}

.site-footer{
    padding: 65px 0;
    background-image: url("../images/head_back.png");
}

.footer-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links-list{
    display: flex;
    margin: 0;
    padding-right: 0;
    list-style: none;
}

.work-item:last-child{
    position: relative;
}
.work-item:last-child::before{
    position: absolute;
    top:-38%;
    right: -30px;
    width: 192px;
    height: 123px;
    background-image: url("../images/top_green.svg");
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
}

.footer-link{
    margin-right: 30px;
}

.footer-item:last-child .footer-link{
    margin-right: 0;
}

.about-collection{
    padding-top: 160px;
    padding-bottom: 200px;
}


.about{
    padding-bottom: 263px;
}

.about-right{
    background-image: url("../images/about-hero.png");
}

.about-list{
    margin: 0;
    padding-left: 0;
    list-style: none;
}


.about-item{
    display: flex;
    position: relative;
    
}

.about-item::before{
    position: absolute;
    top: -33%;
    left: -41%;
    width: 402px;
    height: 300px;
    background-image: url("../images/first_tree.png");
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
}

.item-img{
    margin-right: 105px;
}


.about-item-box{
    width: 626px;
}

.item-title{
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
}

.about-text{
    font-size: 18px;
    line-height: 30px;
    color: var(--main-text-color);
}


.quality-section{
    margin-top: 160px;
    
}

.quality-box{
    width: 639px;
    position: relative;
}

.quality-box::after{
    position: absolute;
    top: -55%;
    right: -100%;
    content: "";
    width: 550px;
    height: 500px;
    background-image: url("../images/black-girl.png");
    background-size: contain;
    
}

.qualtiy-heading{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;   
    color: #FFFFFF
}

.quality-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;   
    color: #FFFFFF;
}

.quality-section .choose-box{
    padding-bottom: 118px;
}

.country-section{
    margin-top: 0;
}

.country-heading{
    margin-bottom: 80px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
}

.country-list{
    display: flex;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.country-item{
    width: 433px;
    position: relative;
    margin-right: 10px;
    padding-top: 140px;
    padding-left: 20px;
    padding-bottom: 40px;
    background-color: #F8F8F2;
}


.country-item::after{
    position: absolute;
    top: 40px;
    right: 25px;
    width: 103px;
    height: 143px;
    background-image: url("../images/uk.svg");
    content: "";  
}

.country-item:nth-child(2)::after{
    position: absolute;
    top: 40px;
    right: 25px;
    width: 103px;
    height: 143px;
    background-image: url("../images/canada.png");
    content: "";  
}

.country-item:last-child:after{
    position: absolute;
    top: 40px;
    right: 25px;
    width: 103px;
    height: 143px;
    background-image: url("../images/australia.svg");
    background-repeat: no-repeat;
    content: "";  
}



.country-item-box{
    width: 141px;
}

.coutry-title{
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: var(--main-text-color);
}

.coutry-text,
.country-tel{
    margin-bottom: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: var(--main-text-color);
}

.country-tel{
    text-decoration: none;
}